{% extends "demo/basic_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h2>Disaster Details:</h2>
    <p>Name: {{disaster_details.name}}</p>
      {% for industry in disaster_details.industries.all %}
        <h3>Industry: Sugar Factory {{industry.name}}</h3>
        <p>Principal: {{industry.owner}}</p>
        <p>Location: {{industry.location}}</p>


        <p>Estimated number of humans in the facility: </p>
          <ul>
              <li>Basement: N1 </li>
              <li>Ground Floor: N2 </li>
              <li>First Floor: N3 </li>
          </ul>

        <p>HeatMap</p>

        <p>3D Reconstruction</p>

        <p>Location: {{industry.location}}</p>
      {% endfor %}


  </div>
  <div class="container">
    <p><a class='btn btn-warning' href="{% url 'demo:update' pk=disaster_details.pk %}">Update</a></p>
  </div>

{% endblock %}
